<footer>
    <div class="container-fluid">
       <div class="row">
           <div class="col-md-8">
               <div class="footer-links col-12  text-center">
                   <ul class="footer-group row">
                       <li class="col-2 offset-1" style="border-right: solid 1px #4E566C; text-decoration: none;"><a href="#">Products</a></li>
                       <li class="col-2" style="border-right: solid 1px #4E566C;"><a href="#">Support</a></li>
                       <li class="col-2" style="border-right: solid 1px #4E566C;"><a href="#">License</a></li>
                       <li class="col-2" style="border-right: solid 1px #4E566C;"><a href="#">Terms and Privacy</a></li>
                       <li class="col-2"><a href="#">Contact Us</a></li>
                   </ul>
               </div>
               <div class="col-12">
                   <p class="col-10 offset-1" style="border-top: solid 1px #4E566C;padding-bottom:0px;">© 2019 <a href="#">NAPA Intern</a> | All rights reserved<br></p>
               </div>
           </div>
           <div class="social-share col-md-4">
                   <p>Our Communinties</p>
                   <div style="display:flex;flex-wrap: wrap; justify-content: center;align-items: center; ">
                   <a href="#" class="brand"><i class="fa fa-twitter fa-2x  m-r-10"></i></a> 
                   <a href="https://www.facebook.com/Napaglobal/" class="brand"><i class="fa fa-facebook fa-2x"></i></a>
                   <a href="#" class="brand"><i class="fa fa-instagram fa-2x"></i></a>
                   <a href="#" class="brand"><i class="fa fa-github fa-2x"></i></a>
                   <a href="#"><i class="fa fa-reddit fa-2x"></i></a>
                </div>
           </div>
         
       </div>
    </div>
   </footer>