@import url('../../../assets/vendor/bootstrap/css/bootstrap.min.css');

@import url('../../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('../../../assets/fonts/iconic/css/material-design-iconic-font.min.css');

a{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* WELCOME */
  
  /* TYPOGRAPHY */
  p {
    font-size: 14px;
  
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding-bottom: 20px; }
  
  h1 {
    font-size: 60px; }
  
  
  h2 {
    font-size: 40px;
    font-weight: 300;
    color: #3D4351; }
  
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3D4351; }
  
  h4 {
    font-size: 18px; }
  
  h5 {
    font-size: 15px;
    color: #3D4351;
    text-transform: uppercase;
    font-weight: 500; }
   
  
  /* FOOTER */
  footer {
  background-color: rgb(30, 83, 83);
  position: relative; }
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: rgb(82, 229, 255); }
  footer ul.footer-group {
    padding-left: 15px;
    padding-top: 0px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 15px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: rgb(82, 229, 255); }
  footer ul.footer-group li {
    margin-right: 0px; 
    padding: 0px;
  }
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color: rgb(42, 87, 87);
    right: 0;
    width: 40%;
    height: 100%;
    padding: 30px 0 60 0px; }
    footer .social-share p {
      color: #fff;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 20px;
      text-transform: uppercase;
      text-align: center!important;
      margin-top: 27px;
      margin-bottom: 0px;
      padding-bottom: 0;
    }
    footer .social-share a.brand{
      margin-right: 30px;
    }
    /* footer .social-share a.brand:hover, footer .social-share a.brand:focus{
      background-color: rgb(42, 128, 143); 
    } */
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 30px 0 10px 0; }
