

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blockchain Service</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
    <app-navbar></app-navbar>
    
    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="welcome-content text-center">
                        <h1>Innovative blockchain service</h1>

                        <p class="intro">Lúc mình nghĩ là mình thông minh nhất, thực ra là lúc mình ngu nhất!                                                                           
                        </p>
                        <p class="intro space">Trích "Kí Sự Đu Đỉnh"</p>

                        <a  class="btn btn-accent btn-large a btn-margin-right" style="border-radius: 40px; color: whitesmoke; border: solid 2px; border-radius: 40px; display: inline-block;
                        border-color: #008080">Download App</a>
                      
                        <a  class="btn btn-accent btn-large a" style="border-radius: 40px; color: whitesmoke; border: solid 2px; border-radius: 40px; display: inline-block;
                        border-color: #008080">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
    </section>

<app-footer></app-footer>