

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blockchain Service</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <app-navbar></app-navbar>
    
    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="welcome-content text-center">
                        <h1 class ="font-welcome">Innovative blockchain service</h1>

                        <p class="intro font-welcome">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nostrum sapiente beatae dolorem sequi.                                                                           
                        </p>
                        <p class="intro space font-welcome">Perspiciatis libero ullam non?</p>

                        <a  class="btn btn-accent btn-large a btn-margin-right font-welcome" style="border-radius: 40px; color: whitesmoke; border: solid 2px; border-radius: 40px; display: inline-block;
                        border-color: #008080">Download App</a>
                      
                        <a  class="btn btn-accent btn-large a font-welcome" style="border-radius: 40px; color: whitesmoke; border: solid 2px; border-radius: 40px; display: inline-block;
                        border-color: #008080">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div> -->
    </section>

<app-footer></app-footer>