<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<hr>
<div class="container">
  <div class="row d-flex justify-content-center ">
    <div class="col-md-4 pt-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

              <form name="form" [formGroup]="form" #myform="ngForm" (ngSubmit)="codeEmail(myform)">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope color-blue"></i>
                      </span>

                      <input type="text" class="form-control" formControlName="email"
                        [ngClass]="{'is-invalid' : form.get('email').touched && form.get('email').invalid}" />
                      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                        <div *ngIf="form.get('email').errors.required">Email can't not null</div>               
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="submit"  class="btn btn-lg btn-primary btn-block"  [disabled]='!form.valid'>Send My Code</button>                    
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>