
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <form name="form" [formGroup]="form" #myform="ngForm" (ngSubmit)="login(myform)"> -->
	
	<div class="limiter">
		<app-navbar></app-navbar>
		<div class="container-login100" style="padding-top:75px;">

			
			<div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-15" style="height:90%;">
				<form class="login100-form" name="form"[formGroup]="form" #myform ="ngForm" (ngSubmit)="login(myform)">
					<span class="login100-form-title p-b-20">
						Login
					</span>
					<alert ></alert>

					<div class="wrap-input100 m-b-15">
						<span class="label-input100">Username</span>
						<input class="form-control input100" type="text" formControlName="username" [ngClass]="{'is-invalid' : form.get('username').touched && form.get('username').invalid}"placeholder="Type your username" style="border: 0px"/>
			
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<div class="invalid-feedback feedback">
							<div>Username cannot be null</div>
						</div>						

					</div>
					
					<div class="wrap-input100 m-b-5">
						<span class="label-input100">Password</span>
						
						<input class="form-control input100" type="password" formControlName="password" [ngClass]="{'is-invalid' : form.get('password').touched && form.get('password').invalid}"placeholder="Type your password" style="border: 0px" />
						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<div class="invalid-feedback feedback">
							<div>Password cannot be null</div>
						</div>
					
						
					</div>
					
					<div class="text-right">

						<a routerLink="/forgotpassword">
							Forgot password?
						</a>
					</div>
					
					<div class="container-login100-form-btn p-t-20">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" [disabled]='!form.valid'>
								Login
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-20 p-b-0">
						<span>
							Or Sign In Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-20">
						<p class="txt1 p-b-5">
							Not have account yet?
						</p>
						<a routerLink="/register" class="txt2">
							Sign Up
						</a>
						
					</div>
				</form>
			</div>
		</div>
	</div>
	
<app-footer></app-footer>