
<section class="navigation">
    <header>
        <div class="header-content">
        <a href="#"><img src="assets/img/logo4.png" alt="blockchain logo"></a>
            <div class="header-nav">
                <nav>
                    <ul class="primary-nav">
                        <li><a style="text-decoration: none;" href="#features">Bulletin</a></li>
                        <li><a style="text-decoration: none;" href="#assets">Trading</a></li>
                        <li><a style="text-decoration: none;" href="#blog">Support</a></li>
                        <li><a style="text-decoration: none;" href="#download">Contact Us</a></li>
                    </ul>
                    <ul class="member-actions">
                        <li><a routerLink="/login" style="text-decoration: none;" class="login">Log in</a></li>
                        <li><a routerLink="/register" style="text-decoration: none;" class="btn-white btn-small">Sign up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="navicon">
                <a class="nav-toggle" href="#"><span></span></a>
            </div>
        </div>
    </header>
</section>