

/* WELCOME */
.welcome{
    /* min-height: 750px; */
    /* background: url("./../img/blockchain2.jpg") center center; */
    background-image: 
    /* top, transparent red */
  
    linear-gradient(
        rgba(26, 28, 29, 0.45),
        rgba(26, 28, 29, 0.45)
    ),
  
    /* your image */
  
    url("./../img/blockchain2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .welcome h1 {
    color: #fff;
  
    margin-bottom: 40px; 
    font-size: 50px;}
  
  .welcome p.intro {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 50px; }
  .welcome .welcome-content {
        padding-top: 20%; }
  .navigation {
            -webkit-transition: all 300ms ease-in-out;
                    transition: all 300ms ease-in-out;
            position: fixed;
            width: 100%;
            z-index: 999; 
            background-color:#0a4f52;
          }
  .fixed {
  position: fixed;
  background-color: #232731;
  z-index: 999;
  width: 100%; }
  
  
  /* HEADER */
  
  header {
    padding: 15px 0 px;
    
    position: relative;
    width: 1170px;
    margin: 0 auto;
    -webkit-transition: padding 300ms ease-in-out;
            transition: padding 300ms ease-in-out; }
  
  header a {
      color: #fff;
      text-transform: uppercase;
  
      font-size: 15px; }
  
  header img {
  
        max-width: 15%;
        height:auto;
        margin-top:5px;
      }
  
  header a.login {
        margin-right: 20px; }
  header .logo {
      display: inline-block; }
  header ul.primary-nav {
  
      margin: 1 0 0 0px;
      padding: 0; }
  
  header ul.primary-nav li {
        display: inline; }
  header ul.primary-nav li a {
  
          color: #fff;
          padding-right: 25px; 
          margin-top: 2px;  
        }
  
  header ul.primary-nav li a:hover {
            color: rgb(82, 229, 255); }
  header ul.primary-nav li:last-child a {
          padding-right: 0px; }
  header ul.member-actions li {
      display: inline; }
  header ul.member-actions li a {
        color: #fff; }
  header ul.member-actions li a:hover {
          color: rgb(82, 229, 255); }
  header .header-nav {
      display: inline-block; }
  header .member-actions {
  
      position: absolute;
      right: 0;
      top: 10px;
      -webkit-transition: all 300ms ease-in-out;
              transition: all 300ms ease-in-out; }
  
  
  
  /* NAVIGATION */
  
  
  .header-nav.open {
    visibility: visible;
    opacity: 0.9;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    
  }
  .nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0;
    cursor: pointer
  }
  .nav-toggle:focus {
    outline: none
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer
  }
  .nav-toggle span:before {
    top: -10px
  }

  .login{
    text-decoration: none;
  }

  .nav-toggle span:after {
    bottom: -10px
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
  }
  .nav-toggle.active span {
    background-color: transparent
  }
  .nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
  }
  .nav-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .nav-toggle.active span:after {
    top: 10px;
    -moz-transform: translatey(-10px) rotate(-45deg);
    -ms-transform: translatey(-10px) rotate(-45deg);
    -o-transform: translatey(-10px) rotate(-45deg);
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg)
  }
  .navicon {
    position: absolute;
    height: 26px;
    right: 10px;
    top: 48px;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }
  
  
  /* TYPOGRAPHY */
  p {
    font-size: 14px;
  
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding-bottom: 20px; }
  
  h1 {
    font-size: 60px; }
  
  
  h2 {
    font-size: 40px;
    font-weight: 300;
    color: #3D4351; }
  
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3D4351; }
  
  h4 {
    font-size: 18px; }
  
  h5 {
    font-size: 15px;
    color: #3D4351;
    text-transform: uppercase;
    font-weight: 500; }
  
  .btn {
  
    font-size: 15px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase; }
  
  .btn:hover, .btn:focus {
    color: #fff;
    /* border-color: rgb(36, 138, 121); */
    background-color: #008080; }
  
  .btn-white {
    font-size: 15px;
    border: solid 2px; 
    border-radius: 40px;
    display: inline-block;
    border-color: #008080; }
  
  /* .btn-white:hover, .btn-white:focus {
    color: rgb(154, 192, 182);
    border-color: rgb(36, 138, 121); } */
  
  .btn-fill {
  
    /* color: #fff; */
    /* border: solid 40px rgb(154, 192, 182); */
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase; 
    background-color: #008080; }
  
  .btn-fill:hover, .btn-fill:focus {
    color: #fff;
    background-color: #035a5a;
    border-color: rgb(36, 138, 121); }
  
  .btn-small {
  
    padding: 4px 14px; }
  
  .btn-large {
    padding: 12px 25px; }
  
  
  .btn-margin-right {
    margin-right: 20px; }
  
  section.intro, section.features-extra, section.sign-up {
    background: #fff; }
  
  section.features, section.blog-intro, section.blog {
    background: #F3F4F8; }
    .border-fix{
        border-radius: 40px;
    }
  
  
  /* FOOTER */
  footer {
  background-color: rgb(30, 83, 83);
  position: relative; }
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: rgb(82, 229, 255); }
  footer ul.footer-group {
    padding-left: 0px;
    padding-top: 0px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 15px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: rgb(82, 229, 255); }
  /* footer ul.footer-group li {
    margin-right: 30px; } */
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color: rgb(42, 87, 87);
    right: 0;
    width: 40%;
    height: 100%;
    padding: 30px 0 60 0px; }
    footer .social-share p {
      color: #fff;
  
      font-size: 20px;
      text-transform: uppercase;
      text-align: center!important;
      margin-top: 30px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
    /* footer .social-share a.brand{
      margin-right: 30px;
    } */
    /* footer .social-share a.brand:hover, footer .social-share a.brand:focus{
      background-color: rgb(42, 128, 143); 
    } */
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 30px 0 10px 0; }
  
    /*TO TOP*/
  .to-top {
  height: 60px;
  background-color: #0a4f52; }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }
  