<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="jumbotron">
    <div class="abc">
        <h2 class="display-4">Congratulation! Your account is succesfully activated! </h2>
           <span class="lead">Welcome to BLOCKCHAIN </span> <button routerLink="/login" type="button" class="btn btn-outline-primary">Login</button>

    </div>
  </div>
  
